.logo {
    background: url("../images/monkees-logo.png");
    background-position: center;
    background-repeat: no-repeat;

    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;

    opacity: 0.5;
    min-height: 70px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.header-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    background-color: transparent;
}

.navbar-toggler {
    margin: 0;
    padding: 0;
}

.navbar-container {
    margin-bottom: 0;
    border: 0;
    width: 100%;
}


.intro-container {

    height: 90vh;
    background: url(../images/monkees-bg.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.navbar-nav li {
    font-size: 1.25em;
}

/*.navbar-nav-md {
display: flex!important;
justify-content: space-around!important;
flex-basis: auto;
}*/
